{% extends '::base.html.twig' %}
	{% block avis %} 
		{% for i in 1..num%}
			avis : {{i}} <br/>
		
		{%endfor%}
		<a href="http://localhost/symfony_cours/web/app_dev.php/voyage"> 1er vue </a>
{%endblock%}

